{% extends 'base.html' %}
{% block content %}

<br>

<div class="d-flex justify-content-center"> <h1>Donations</h1> </div>
<br><br>
<div class="d-flex justify-content-center"> <a class="btn btn-dark" href="/donationform" role="button">Post Donation Request</a> </div>

<br>

    {% if donation_list %}
        {% for donation in donation_list %}
        <div class="d-flex justify-content-center">
        <div class="card" style="width: 40rem;">
            <div class="card-header">
              End Date: {{donation.end_date}}
            </div>
            <div class="card-body">
              <h5 class="card-title">{{donation.name}}</h5>
              <p class="card-text">{{donation.description}}</p>
              <h6>Goal: ${{donation.goal}}</a> <br><br>
              <button type="button" class="btn btn-dark">Donate</button>
            </div>
          </div>
        </div>
        <br>
		{% endfor %}
	{% endif %}
 


<br>

{% endblock %}
