{% extends 'donations/base.html' %}
{% block content %}

<br>

<div class="d-flex justify-content-center"> <h1>Donations</h1> </div>
<br><br>
<div class="d-flex justify-content-center"> <a class="btn btn-dark" href="/donationform" role="button">Post Donation Request</a> </div>

<br>

    {% if donation_list %}
        {% for donation in donation_list %}
        <div class="d-flex justify-content-center">
        <div class="card" style="width: 40rem;">
            <div class="card-header">
              <div class='float-left'>
              End Date: {{donation.end_date}} <br>
              Posted By: {{donation.creator}}
              </div>
              {% if user.is_authenticated %}
              {% if user.username == donation.creator %} 
              <div class='float-right'>            
                <a href="{% url 'donations:delete_donation' donation.pk %}" class ="btn btn-dark">Delete</a>
              </div>  
              {% endif %}
              {% endif %}
            </div>
            <div class="card-body">
              <h5 class="card-title">{{donation.name}}</h5>
              <p class="card-text">{{donation.description}}</p>
              <h6>Goal: ${{donation.goal}}</a> <br>
              <h6>Total Money Received: ${{donation.total}}</a> 
                <br><br>
                <a href="{% url 'donations:makedonation' donation.pk %}" class="btn btn-dark">Donate</a>
            </div>
          </div>
        </div>
        <br>
		{% endfor %}
	{% endif %}
 


<br>

{% endblock %}
