{% extends 'donations/base.html' %}
{% block content %}

{% load socialaccount %}
<html>
    <head>
        <title>Please Log In Before Proceeding</title>
    </head>
    <body>
        {% if user.is_authenticated %}
        <div class="container">
            <div align="center">
                <h2> Welcome, {{ user.username }} ! <h2>
            </div>
        </div>
        <br>
        <div class='container'>
            <div class='row'>
            <div class='col'>
            <div align='center'>    
                <h4>Your Donations</h4>
            </div>
            <br>
            {% if user.user_donation %}
                {% for item in user.user_donation.all %}
                <div class="d-flex justify-content-center">
                    <div class="card" style="width: 20rem;">
                        <div class="card-header">
                            {{item.name}}
                        </div>
                        <div class="card-body">
                          <p class="card-text">Donated ${{item.amount}}</p>
                        </div>
                    </div>
                </div>
                <br>
                {% endfor %}
            {% endif %}
            </div>
        <div class='col'>
            <div align='center'>    
                <h4>Volunteer Activities List</h4>
            </div>
            <br>
            {% if user.user_volunteer %}
                {% for item in user.user_volunteer.all %}
                <div class="d-flex justify-content-center">
                    <div class="card" style="width: 20rem;">
                        <div class="card-header">
                            {{item.title}}
                        </div>
                        <div class="card-body">
                          <p class="card-text">Date: {{item.date}} </p>
                          <p class="card-text">Time: {{item.start_time}} to {{item.end_time}}</p>
                          <a href="{% url 'donations:delete_user_volunteer' pk=item.id %}" class='btn btn-dark'>Remove</a>
                        </div>
                    </div>
                </div>
                <br>
                {% endfor %}
            {% endif %}
        </div>
        </div>
        </div>
        {% else %}
        <h1>Please Log In Before Proceeding</h1>
        <a href="{% provider_login_url 'google' %}">Login with Google</a>
        {% endif %}

    </body>
</html>

{% endblock %}