{% extends 'donations/base.html' %}
{% block content %}

{% load static %}

{% load socialaccount %}
<html>
    <head>
        <title>Please Log In Before Proceeding</title>
    </head>
    <body>
        {% if user.is_authenticated %}
        <div class="container">
            <br>
            <div align="center">
                <div class="card border-dark mb-3" style="width: 60rem;">
                    <h2 class="card-header">{{ user.username }}</h2>
                    <div class="card-body">
                      <h4 class="card-title">Welcome to your homepage!</h4>
                      <p class="card-text"><blockquote class="blockquote text-left">
                      <p class="mb-0">"The unselfish effort to bring cheer to others will be the beginning of a happier life for ourselves."</p>
                        <footer class="blockquote-footer"><cite title="Source Title">Helen Keller</cite></footer>
                      </blockquote>
                      </p>
                      <a href="{% url 'donations:donation_list' %}" class="btn btn-primary" style="margin-right:20px">Start Donating</a>
                      <a href="{% url 'donations:volunteer-list' %}" class="btn btn-primary" style="margin-left:20px">Start Volunteering</a>
                    </div>
                  </div>
            </div>
            <br>
        </div>
        <br>
        <div class='container'>
            <div class='row'>
            <div class='col'>
            <div align='center'>    
                <h4>Your Donations</h4>
            </div>
            <br>
            {% if user.user_donation %}
                {% for item in user.user_donation.all %}
                <div class="d-flex justify-content-center">
                    <div class="card" style="width: 20rem;">
                        <div class="card-header">
                            {{item.name}}
                        </div>
                        <div class="card-body">
                          <p class="card-text">Donated ${{item.amount}}</p>
                        </div>
                    </div>
                </div>
                <br>
                {% endfor %}
            {% endif %}
            </div>
        <div class='col'>
            <div align='center'>    
                <h4>Volunteer Activities List</h4>
            </div>
            <br>
            {% if user.user_volunteer %}
                {% for item in user.user_volunteer.all %}
                <div class="d-flex justify-content-center">
                    <div class="card" style="width: 20rem;">
                        <div class="card-header">
                            {{item.title}}
                        </div>
                        <div class="card-body">
                          <p class="card-text">Date: {{item.date}} </p>
                          <p class="card-text">Time: {{item.start_time}} to {{item.end_time}}</p>
                          <a href="{% url 'donations:delete_user_volunteer' pk=item.id %}" class='btn btn-dark'>Remove</a>
                        </div>
                    </div>
                </div>
                <br>
                {% endfor %}
            {% endif %}
        </div>
        </div>
        </div>
        {% else %}
        <link rel="stylesheet" type="text/css" href="{% static 'donations/style.css' %}">
        <div align='center'>
            <h1>Welcome to the Make a Change Donation Platform!</h2>
                <img src="{% static 'donations/images/donate.gif' %}">
            <h2>Please Log In Before Proceeding</h1>
                <a href="{% provider_login_url 'google' %}" class="btn btn-primary" role="button">Login with Google</a>
        </div>

        {% endif %}

    </body>
</html>

{% endblock %}