{% extends 'donations/base.html' %}
{% block content %}

{% load socialaccount %}
<html>
    <head>
        <title>Please Log In Before Proceeding</title>
    </head>
    <body>
        {% if user.is_authenticated %}
        <div class="container">
            <div align="center">
                <h2> Welcome, {{ user.username }} ! <h2>
            </div>
        </div>
  
        {% else %}
        <h1>Please Log In Before Proceeding</h1>
        <a href="{% provider_login_url 'google' %}">Login with Google</a>
        {% endif %}

    </body>
</html>

{% endblock %}