{% extends 'donations/base.html' %}
{% block content %}

{% load static %}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'donations/volunteering.css' %}"> -->

<html>
    <body>
      <br>
      <div class="d-flex justify-content-center"> <h1>Volunteering Opportunities</h1> </div>
      {% if user.is_authenticated %}
        <br><br>
        <div class="d-flex justify-content-center"> <a class="btn btn-dark" href="/volunteer-post" role="button">Post an Opportunity</a> </div>
      {% endif %}
        <br>

        {% if volunteer_opportunities %}
          {% for opportunity in volunteer_opportunities %}
            <div class="d-flex justify-content-center">
            <div class="card" style="width: 40rem;">
                <div class="card-header">
                <div class='float-left'>
                  <h6>Volunteer Job Title: {{ opportunity.title }}</h6>
                  <h6>Posted by: {{ opportunity.name }}</h6> 
                </div>
                  {% if user.is_authenticated %}
                    {% if user.id == opportunity.user.id %}
                    <div class='float-right'>
                      <a href="{% url 'donations:update_volunteering' opportunity.pk %}" class="btn btn-dark">Edit</a>
                      <a href="{% url 'donations:delete_volunteering' opportunity.pk %}" class="btn btn-dark">Delete</a>
                    </div>
                    {% endif %}
                  {% endif %}
              </div>
                <div class="card-body">
                  <body class="card-title">
                    Date: {{ opportunity.date }}<br>
                    Time: {{ opportunity.start_time }} to {{ opportunity.end_time }}<br>
                  </body>
                  <br>
                  <p class="card-text">
                    Job Description:<br>
                    {{ opportunity.description }}
                  </p>
                    {% if user.is_authenticated %}
                      <form action="{% url 'donations:signup' opportunity.pk %}" method="post">
                        {% csrf_token %}
                        <button type='submit' class="btn btn-dark">Sign Up</button>
                      </form>
                    {% endif %}
                  </div>
              </div>
            </div>
            <br>
        {% endfor %}
        
      {% else %}
        <p>No Volunteering Opportunities have been posted yet</p>
      {% endif %}



    </body>
</html>
 
{% endblock %}