{% extends 'donations/base.html' %}
{% block content %}

  <div class="text-right">
    <a href="/volunteer-post" class="btn btn-info" role="button">Post an Opportunity</a>
  </div>


<html>
    <body>
              
        <h1>Volunteering Opportunities:</h1>

        {% if volunteer_opportunities %}
          <ul class='list-group'>
          {% for opportunity in volunteer_opportunities %}
            <li class='list-group-item'>
              Volunteer Job Title: {{ opportunity.title }}<br>
              Volunteer Requester: {{ opportunity.name }}<br>
              Date: {{ opportunity.date }}<br>
              Time: {{ opportunity.start_time }} to {{ opportunity.end_time }}<br>
              Job Description: {{ opportunity.description }}</li>
          {% endfor %}
          </ul>
        
        {% else %}
          <p>No Volunteering Opportunities have been posted yet</p>
        {% endif %}



    </body>
</html>
 
{% endblock %}