h1 {
    font-family: 'Trebuchet MS';
    color:rgb(92, 231, 49);
    background-color: rgb(248, 204, 211);
}

h2 {
    font-family: sans-serif;
    color:rgb(125, 233, 92);
}

body {
    background-color: white
}
