h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: midnightblue;
    background-color: rgb(248, 204, 211);
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: midnightblue;
}

body {
    background-color: white
}
